@page "/Registro/Prestamos"
@page "/Registro/Prestamos/{Id:int}"

@using System.Security.Claims

@inject AuthenticationStateProvider authStateProvider
@inject ClienteBLL clienteBLL
@inject CiudadBLL ciudadBLL
@inject ProvinciaBLL provinciaBLL
@inject UsuarioBLL usuarioBLL
@inject TipoPrestamoBLL tipoPrestamoBLL
@inject eCobroBLL ecobroBLL
@inject ePrestamoBLL eprestamoBLL
@inject ConfiguracionBLL configuracionBLL
@inject IToastService toastService
@inject NavigationManager navManager


<div class="page">
	<div class="page-header">
		<div class="row align-items-center mw-100">
			<div class="col">
				<h2 class="page-title">
					<span class="text-truncate">Registro de Préstamos</span>
				</h2>
			</div>
			<div class="col-auto">
				<div class="btn-list">
					<a href="/Prestamos" class="btn btn-primary">
						<span class="oi oi-arrow-thick-left me-2"></span>Atrás
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="page-body">
		<div class="container-xl p-0">
			<div class="card">
				<EditForm Model="ePrestamo" OnValidSubmit="Guardar">
					<div class="card-body">

						<div class="row mb-2">
							<div class="col-12 col-md-8">
								<div class="row">
									<div class="col-12 col-md-5">
										<label class="form-label">Id Préstamo</label>
										<InputNumber @bind-Value="ePrestamo.IdPrestamo" disabled class="form-control" placeholder="ID" />
									</div>
								</div>
							</div>

							<div class="col-12 col-md-4 mt-2 mt-md-0">
								<label class="form-label">Fecha</label>
								<input class="form-control " type="date" disabled="@IsDisabled" @bind-value="ePrestamo.Fecha">
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-12 col-md-4">
								<label class="form-label">Cliente</label>
								<div class="row g-2">
									<div class="col">
										<select class="form-select" disabled="@IsDisabled" @bind="ePrestamo.IdCliente">
											<option value="0" selected>Seleccionar un cliente</option>
											@foreach (var item in clientes)
											{
												<option value="@item.IdCliente">@(item.Nombres+" "+item.Apellidos)</option>
											}
										</select>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4 mt-2 mt-md-0">
								<label class="form-label">Fecha Inicio</label>
								<input class="form-control" type="date" disabled="@IsDisabled" @bind-value="ePrestamo.FechaInicio">
							</div>
							<div class="col-12 col-md-4 mt-2 mt-md-0">
								<label class="form-label">Fecha Vencimiento</label>
								<input class="form-control" type="date" @bind-value="ePrestamo.FechaVencimiento" disabled>
							</div>
						</div>

						<div class="row mb-2 border">
							<div class="col-12 col-md-2 mt-2 mb-2">
								<label class="form-label">Cuotas</label>
								<input type="number" class="form-control" disabled="@IsDisabled" @bind-value="ePrestamo.Cuotas" min="0" @onblur="CalcularFechaVencimiento" />
							</div>
							<div class="col-12 col-md-2 mt-2 mb-2">
								<label class="form-label">Capital</label>
								<input type="number" class="form-control" disabled="@IsDisabled" @bind-value="ePrestamo.Capital" min="0" />
							</div>
							<div class="col-12 col-md-2 mt-2 mb-2">
								<label class="form-label">Interés (%)</label>
								<input type="number" class="form-control" disabled="@IsDisabled" @bind-value="ePrestamo.TasaInteres" min="0" step=".01"/>
							</div>
							<div class="col-12 col-md-2 mt-2 mb-2">
								<label class="form-label">Mora (%)</label>
								<input type="number" class="form-control" disabled="@IsDisabled" @bind-value="ePrestamo.TasaMora" min="0" step=".01"/>
							</div>
							<div class="col-12 col-md-2 mt-2 mb-2">
								<label class="form-label">Tipo Préstamo</label>
								<div class="row g-2">
									<div class="col">
										<select class="form-select" @bind="ePrestamo.IdTipoPrestamo" disabled="@IsDisabled" @onblur="CalcularFechaVencimiento">
											@foreach (var item in TipoPrestamo)
											{
												<option value="@item.IdTipoPrestamo">@item.Descripcion</option>
											}
										</select>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-2 mt-md-4 mt-3 mb-3 text-center">
								<button class="btn btn-info" type="button" disabled="@IsDisabled" @onclick="Calcular"><span class="oi oi-plus me-2"></span>Calcular</button>
							</div>

						</div>

						<div class="row mb-3">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>NoCuota</th>
											<th>Fecha Cuota</th>
											<th>Capital</th>
											<th>Interés</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody class="table-tbody">
										@foreach (var item in ePrestamo.dPrestamos)
										{
											<tr>
												<td>@item.NoCuota</td>
												<td>@item.FechaCuota.ToShortDateString()</td>
												<td>@item.Capital</td>
												<td>@item.Interes</td>
												<td>@(item.Capital+item.Interes)</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>


						<div class="row justify-content-end mt-1">
							<div class="col-7 col-md-5 col-xl-2">
								<label class="form-label">Total Capital</label>
								<input type="number" disabled class="form-control" @bind-value="TotalCapital" />
							</div>
						</div>

						<div class="row justify-content-end mt-1">
							<div class="col-7 col-md-5 col-xl-2">
								<label class="form-label">Total Interés</label>
								<input type="number" disabled class="form-control" @bind-value="TotalInteres" />
							</div>
						</div>

						<div class="row justify-content-end mt-1">
							<div class="col-7 col-md-5 col-xl-2">
								<label class="form-label">Total</label>
								<input type="number" disabled class="form-control" @bind-value="Total" />
							</div>
						</div>


						<div class="row mb-2 mt-3">
							<div class="col-12">
								<label class="form-label">Observaciones</label>
								<textarea class="form-control" disabled="@IsDisabled" @bind="ePrestamo.Observaciones" />
							</div>
						</div>

					</div>
					<div class="card-footer">
						<div class="text-center">
							<button type="button" disabled="@IsDisabledButtons" class="btn btn-info btn-lg" @onclick="Editar"><i class="fa-solid fa-pen-to-square me-2"></i>Editar</button>
							<button type="submit" disabled="@IsDisabled" class="btn btn-success btn-lg"><i class="fa-solid fa-floppy-disk me-2"></i>Guardar</button>	
							<button type="button" disabled="@IsDisabledButtons" @onclick="EnviarNotificacion" class="btn btn-info btn-lg" style="background-color:#25d366;"><i class="fa-brands fa-whatsapp me-2"></i>Enviar a WhatsApp</button>
							<button type="button" disabled="@IsDisabledButtons" @onclick="EnviarCorreo" class="btn btn-secondary btn-lg"><i class="fa-solid fa-envelope me-2"></i>Enviar al Correo</button>
							<button type="button" disabled="@IsDisabledButtons" class="btn btn-danger btn-lg"  data-bs-toggle="modal" data-bs-target="#modal-danger"><i class="fa-solid fa-trash-can me-2"></i>Eliminar</button>
						</div>
					</div>
				</EditForm>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-blur fade" id="modal-danger" tabindex="-1" style="display: none;" aria-modal="true">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			<div class="modal-status bg-danger"></div>
			<div class="modal-body text-center py-4">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9v2m0 4v.01"></path><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path></svg>
				<h3>¿Está seguro?</h3>
				<div class="text-muted">¿Realmente quiere eliminar el préstamo? Esta acción no se puede deshacer.</div>
			</div>
			<div class="modal-footer">
				<div class="w-100">
					<div class="row">
						<div class="col">
							<a href="#" class="btn w-100" data-bs-dismiss="modal">
								<i class="fa-solid fa-ban me-2"></i>Cancelar
							</a>
						</div>
						<div class="col">
							<a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal" @onclick="Eliminar">
								<i class="fa-solid fa-trash-can me-2"></i>Eliminar
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public int Id { get; set; }
	public decimal Total, TotalInteres, TotalCapital = 0;
	bool IsDisabled = false;
	bool IsDisabledButtons = true;
	public int Usuario { get; set; }

	ePrestamos ePrestamo = new ePrestamos();

	List<Clientes> clientes = new List<Clientes>();
	List<TipoPrestamos> TipoPrestamo = new List<TipoPrestamos>();
	Configuracion configuracion = new Configuracion();

	protected override async Task OnInitializedAsync()
	{
		await LlenaClientes();
		await LlenaTipoPrestamos();

		var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
		ClaimsPrincipal usuario = (await customAuthStateProvider.GetAuthenticationStateAsync()).User;

		if (usuario.Claims.Any())
		{
			Usuario = Convert.ToInt32(usuario.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value);
		}

		configuracion = await configuracionBLL.Buscar(1);
        Utilitarios.InfoCorreo.NombreEmisor = configuracion.Nombres;
        Utilitarios.InfoCorreo.CorreoEmisor = configuracion.Correo;
        Utilitarios.InfoCorreo.ClaveEmisor = configuracion.Clave;

		await BuscarParametro();
	}

	private async Task BuscarParametro()
	{
		if (Id > 0)
		{
			ePrestamo = await eprestamoBLL.Buscar(Id);

			if (ePrestamo.EsNulo == false)
			{
				if (ePrestamo.IdPrestamo == 0)
				{
					ePrestamo = new ePrestamos();
					toastService.ShowError("Préstamo no encontrado");
					return;
				}
			}
			else
			{
				toastService.ShowError("El Préstamo está nulo");
				ePrestamo = new ePrestamos();
				return;
			}

			TotalCapital = Utilitarios.ConverToN2(ePrestamo.Capital);
			TotalInteres = Utilitarios.ConverToN2(ePrestamo.Interes * ePrestamo.Cuotas);
			Total = Utilitarios.ConverToN2(TotalCapital + TotalInteres);

			IsDisabled = true;
			IsDisabledButtons = false;
			await Calcular();
		}
	}

	public async Task Guardar()
	{
		if (ePrestamo.dPrestamos.Count == 0)
		{
			toastService.ShowError("Debe Calcular un prestamo");
			return;
		}

		if (ePrestamo.IdCliente == 0)
		{
			toastService.ShowError("Debe seleccionar un cliente, para guardar", "Seleccionar Cliente");
			return;
		}

		if (ePrestamo.Cuotas <= 0)
		{
			toastService.ShowInfo("El número de cuotas debe ser mayor a 0");
			return;
		}

		if (ePrestamo.Capital <= 0)
		{
			toastService.ShowInfo("El capital debe ser mayor a 0");
			return;
		}

		ePrestamo.Usuarios = await usuarioBLL.Buscar(Usuario);
		ePrestamo.Interes = TotalInteres;
		await Calcular();

		bool paso = await eprestamoBLL.Guardar(ePrestamo);

		if (paso)
		{
			toastService.ShowSuccess("Prestamo Guardado!!!");
			navManager.NavigateTo("/Prestamos");
		}
	}

	public async Task Editar()
	{
		var tieneCobros = await ecobroBLL.tieneCobros(ePrestamo.IdPrestamo);

		if (tieneCobros)
		{
			toastService.ShowError("No puede editar el prestamo porque tiene cobros realizados");
			return;
		}

		IsDisabled = false;
		IsDisabledButtons = true;
	}

	private async Task LlenaClientes()
	{
		clientes = await clienteBLL.GetList(x => true);
	}

	private async Task LlenaTipoPrestamos()
	{
		TipoPrestamo = await tipoPrestamoBLL.GetList(x => true);
	}

	private async Task Calcular()
	{
		if (ePrestamo.Cuotas <= 0)
		{
			toastService.ShowInfo("El número de cuotas debe ser mayor a 0");
			return;
		}

		if (ePrestamo.Capital <= 0)
		{
			toastService.ShowInfo("El capital debe ser mayor a 0");
			return;
		}

		if (ePrestamo.IdTipoPrestamo == 1)
		{
			await CalcularAnual();
		}
		else if (ePrestamo.IdTipoPrestamo == 2)
		{
			await CalcularMensual();
		}
		else if (ePrestamo.IdTipoPrestamo == 3)
		{
			await CalcularSemanal();
		}
	}

	private async Task CalcularAnual()
	{
		DateTime FechaInicio = ePrestamo.FechaInicio.AddYears(1);
		decimal capital = ePrestamo.Capital / ePrestamo.Cuotas;
		decimal Interes = (ePrestamo.Capital * (ePrestamo.TasaInteres / 100)) / ePrestamo.Cuotas;

		ePrestamo.dPrestamos = new List<dPrestamos>();

		for (int x = 0; x < ePrestamo.Cuotas; x++)
		{
			ePrestamo.dPrestamos.Add(new dPrestamos
				{
					IdPrestamo = ePrestamo.IdPrestamo,
					NoCuota = x + 1,
					FechaCuota = FechaInicio,
					Capital = Utilitarios.ConverToN2(capital),
					Interes = Utilitarios.ConverToN2(Interes),
					BceCapital = Utilitarios.ConverToN2(capital),
					BceInteres = Utilitarios.ConverToN2(Interes)
				});
			FechaInicio = FechaInicio.AddYears(1);
		}

		TotalCapital = Utilitarios.ConverToN2(ePrestamo.Capital);
		TotalInteres = Utilitarios.ConverToN2(Interes * ePrestamo.Cuotas);
		Total = Utilitarios.ConverToN2(TotalCapital + TotalInteres);
	}


	private async Task CalcularMensual()
	{
		DateTime FechaInicio = ePrestamo.FechaInicio.AddMonths(1);
		decimal capital = ePrestamo.Capital / ePrestamo.Cuotas;
		decimal Interes = (ePrestamo.Capital * (ePrestamo.TasaInteres / 100)) / ePrestamo.Cuotas;

		ePrestamo.dPrestamos = new List<dPrestamos>();

		for (int x = 0; x < ePrestamo.Cuotas; x++)
		{
			ePrestamo.dPrestamos.Add(new dPrestamos
				{
					IdPrestamo = ePrestamo.IdPrestamo,
					NoCuota = x + 1,
					FechaCuota = FechaInicio,
					Capital = Utilitarios.ConverToN2(capital),
					Interes = Utilitarios.ConverToN2(Interes),
					BceCapital = Utilitarios.ConverToN2(capital),
					BceInteres = Utilitarios.ConverToN2(Interes)
				});
			FechaInicio = FechaInicio.AddMonths(1);
		}

		TotalCapital = Utilitarios.ConverToN2(ePrestamo.Capital);
		TotalInteres = Utilitarios.ConverToN2(Interes * ePrestamo.Cuotas);
		Total = Utilitarios.ConverToN2(TotalCapital + TotalInteres);
	}

	private async Task CalcularSemanal()
	{
		DateTime FechaInicio = ePrestamo.FechaInicio.AddDays(7);
		decimal capital = ePrestamo.Capital / ePrestamo.Cuotas;
		decimal Interes = (ePrestamo.Capital * (ePrestamo.TasaInteres / 100)) / ePrestamo.Cuotas;

		ePrestamo.dPrestamos = new List<dPrestamos>();

		for (int x = 0; x < ePrestamo.Cuotas; x++)
		{
			ePrestamo.dPrestamos.Add(new dPrestamos
				{
					IdPrestamo = ePrestamo.IdPrestamo,
					NoCuota = x + 1,
					FechaCuota = FechaInicio,
					Capital = Utilitarios.ConverToN2(capital),
					Interes = Utilitarios.ConverToN2(Interes),
					BceCapital = Utilitarios.ConverToN2(capital),
					BceInteres = Utilitarios.ConverToN2(Interes)
				});
			FechaInicio = FechaInicio.AddDays(7);
		}

		TotalCapital = Utilitarios.ConverToN2(ePrestamo.Capital);
		TotalInteres = Utilitarios.ConverToN2(Interes * ePrestamo.Cuotas);
		Total = Utilitarios.ConverToN2(TotalCapital + TotalInteres);
	}

	private async Task CalcularFechaVencimiento()
	{
		if (ePrestamo.IdTipoPrestamo == 1)
		{
			ePrestamo.FechaVencimiento = ePrestamo.FechaInicio.AddYears(ePrestamo.Cuotas);
		}
		else if (ePrestamo.IdTipoPrestamo == 2)
		{
			ePrestamo.FechaVencimiento = ePrestamo.FechaInicio.AddMonths(ePrestamo.Cuotas);
		}
		else if (ePrestamo.IdTipoPrestamo == 3)
		{
			ePrestamo.FechaVencimiento = ePrestamo.FechaInicio.AddDays(ePrestamo.Cuotas * 7);
		}
	}

	private async Task Eliminar()
	{
		var tieneCobros = await ecobroBLL.tieneCobros(ePrestamo.IdPrestamo);

		if (tieneCobros)
		{
			toastService.ShowError("No puede eliminar el prestamo porque tiene cobros realizados");
			return;
		}

		var paso = await eprestamoBLL.Eliminar(ePrestamo.IdPrestamo);
		toastService.ShowSuccess("Prestamo Eliminado");
		navManager.NavigateTo("/Prestamos");
	}

	private async Task EnviarNotificacion()
	{
		string url = "https://api.ultramsg.com/instance15367/messages/chat";
		var cliente = new HttpClient();

		var data = new[]
		{
        new KeyValuePair<string, string>("token", "zonbpen0kep2pwpy"),
        new KeyValuePair<string, string>("to", "1"+ePrestamo.Clientes.Celular.Replace("-","").Replace("(","").Replace(")","")),
        new KeyValuePair<string, string>("body", $"Usted ha tomado un préstamo a PayCred en la fecha {ePrestamo.Fecha.ToShortDateString()}, por un Capital de {ePrestamo.Capital} RD$, a una tasa de interés del {ePrestamo.TasaInteres}% y una tasa de Mora de {ePrestamo.TasaMora}%.\n\nA pagar en {ePrestamo.Cuotas} Cuotas. \n\nEl Balance de su préstamo es: \nCapital: {ePrestamo.BceCapital} RD$ \nInterés: {ePrestamo.BceInteres} RD$"),
        new KeyValuePair<string, string>("priority", "1"),
        new KeyValuePair<string, string>("referenceId", ""),
    };

		var respuesta = cliente.PostAsync(url, new FormUrlEncodedContent(data)).GetAwaiter().GetResult();

		if (respuesta.IsSuccessStatusCode)
			toastService.ShowSuccess("Mensaje enviado");
		else
			toastService.ShowError("Mensaje no enviado");
	}

	 public async Task EnviarCorreo()
    {
        try
        {
            await Task.Run(() =>
            {
                var smtpClient = Utilitarios.ConfigurarSmtpClient();
				Utilitarios.InfoCorreo.Asunto = "Préstamo";
				Utilitarios.InfoCorreo.CuerpoCorreo = $"Usted ha tomado un préstamo a PayCred en la fecha {ePrestamo.Fecha.ToShortDateString()}, por un Capital de {ePrestamo.Capital} RD$, a una tasa de interés del {ePrestamo.TasaInteres}% y una tasa de Mora de {ePrestamo.TasaMora}%.\n\nA pagar en {ePrestamo.Cuotas} Cuotas. \n\nEl Balance de su préstamo es: \nCapital: {ePrestamo.BceCapital} RD$ \nInterés: {ePrestamo.BceInteres} RD$";
				Utilitarios.InfoCorreo.CorreoReceptores = ePrestamo.Clientes.Correo;
                var mensaje = Utilitarios.GenerarCorreo();

                smtpClient.Send(mensaje);
                toastService.ShowSuccess("Correo enviado!");

            });

        }
        catch (Exception e)
        {
            toastService.ShowError(e.Message);
        }
    }

}
