@page "/Clientes"

@inject ClienteBLL clienteBLL

<div class="page">
	<div class="page-header">
		<div class="row align-items-center mw-100">
			<div class="col">
				<div class="mb-1">
					<ol class="breadcrumb" aria-label="breadcrumbs">
						<li class="breadcrumb-item"><a href="/Home">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page"><a href="/Clientes">Clientes</a></li>
					</ol>
				</div>
				<h2 class="page-title">
					<span class="text-truncate">Listado de Clientes</span>
				</h2>
			</div>
			<div class="col-auto">
				<div class="btn-list">
					<a href="/Registro/Clientes" class="btn btn-primary">
						<span class="oi oi-plus me-2"></span>Agregar Clientes
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="container-xl">
			<div class="card">
				<div class="card-body">
					<div class="accordion mb-3">
						<div class="accordion-item">
							<h2 class="accordion-header" style="background-color:#E5E5E5;">
								<button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true">
									Criterio de Búsqueda
								</button>
							</h2>
							<div id="collapse-1" class="accordion-collapse collapse show mt-2" data-bs-parent="#accordion-example">
								<div class="accordion-body pt-0">

									<div class="row">
										<div class="col-3">
											<label class="form-label">Campo a buscar</label>
											<select class="form-select">
												<option value="Id">Id Cliente</option>
												<option value="Nombre">Nombre</option>
												<option value="Cedula">Cédula</option>
											</select>
										</div>
										<div class="col-3">
											<label class="form-label">Forma</label>
											<select class="form-select">
												<option value="Similitud">Similitud</option>
												<option value="Igualdad">Igualdad</option>
											</select>
										</div>
										<div class="col-6">
											<label class="form-label">Criterio</label>
											<input type="text" class="form-control" placeholder="Criterio del campo" />
										</div>
									</div>

									<div class="row mt-1">
										<div class="col-3">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" @onclick="DesdeHasta" id="flexCheckDefault">
												<label class="form-check-label" for="flexCheckDefault">
													Fechas
												</label>
											</div>
										</div>
									</div>

									@if (Fechas == true)
									{
										<div class="row">
											<div class="col-4">
												<label class="form-label">Desde</label>
												<input type="date" class="form-control" />
											</div>
											<div class="col-4">
												<label class="form-label">Hasta</label>
												<input type="date" class="form-control" />
											</div>
										</div>
									}
									else
									{
										<div class="row">
											<div class="col-4">
												<label class="form-label">Desde</label>
												<input type="date" class="form-control" disabled/>
											</div>
											<div class="col-4">
												<label class="form-label">Hasta</label>
												<input type="date" class="form-control" disabled/>
											</div>
										</div>
									}

								</div>
							</div>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th><button class="table-sort">ID Cliente</button></th>
									<th><button class="table-sort">Nombres</button></th>
									<th>Cédula</th>
									<th>Teléfono</th>
									<th>Celular</th>
									<th>Dirección</th>
									<th class="w-1"></th>
								</tr>
							</thead>
							<tbody class="table-tbody">
								@foreach (var item in clientes)
								{
									<tr>
										<td>@item.IdCliente</td>
										<td>@(item.Nombres + " " + item.Apellidos)</td>
										<td>@item.Cedula</td>
										<td>@item.Telefono</td>
										<td>@item.Celular</td>
										<td>@item.Direccion</td>
										<td class="text-end">
											<div class="btn-list flex-nowrap">

												<a class="btn btn-info" href="/Registro/Clientes/@item.IdCliente"><span class="oi oi-pencil me-2"></span>Editar</a>
												<a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-danger" @onclick="() => LlenarClienteEliminar(item.IdCliente)"><span class="oi oi-basket me-2"></span>Eliminar</a>
											</div>

										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-blur fade" id="modal-danger" tabindex="-1" style="display: none;" aria-modal="true">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			<div class="modal-status bg-danger"></div>
			<div class="modal-body text-center py-4">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9v2m0 4v.01"></path><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path></svg>
				<h3>¿Está seguro?</h3>
				<div class="text-muted">¿Realmente quiere eliminar el cliente? Esta acción no se puede deshacer.</div>
			</div>
			<div class="modal-footer">
				<div class="w-100">
					<div class="row">
						<div class="col">
							<a href="#" class="btn w-100" data-bs-dismiss="modal">
								<span class="oi oi-arrow-thick-left me-2"></span>Cancelar
							</a>
						</div>
						<div class="col">
							<a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal" @onclick="EliminarCliente">
								<span class="oi oi-basket me-2"></span>Eliminar
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	List<Clientes> clientes = new List<Clientes>();
	public int ClienteEliminar { get; set; } = 0;
	public bool Fechas { get; set; } = false;

	protected override async Task OnInitializedAsync()
	{
		await LlenarLista();
	}

	private async Task LlenarLista()
	{
		clientes = await clienteBLL.GetList(x => true);
		clientes.OrderByDescending(x => x.Nombres);
	}

	private async Task LlenarClienteEliminar(int Id)
	{
		await Task.Run(() => ClienteEliminar = Id);
	}

	private async Task EliminarCliente()
	{
		var paso = await clienteBLL.Eliminar(ClienteEliminar);
		await LlenarLista();
	}

	private void DesdeHasta()
	{
		if (Fechas == false)
			Fechas = true;
		else
			Fechas = false;

		this.StateHasChanged();
	}
}
